%h2= @post.title
%span
  %strong Tags: 
  = @post.tags.join(" ")
= @post.rendered

%h3 Comments
- unless @post.comments.empty?
  - @post.comments.each do |comment|
    %p
      =comment.author
      said
      %br/
      =comment.rendered
%form{:action => "/posts/#{@post.id}/comments", :method => 'post'}
  %p
    %label{:for => 'author'}Author:
    %input{:name => 'author', :id => 'author'}
  %p
    %label{:for => 'body'}Body:
    %br/
    %textarea{:name => 'body', :id => 'body', :rows => '12', :cols => '40'}
  %p
    %input{:type => 'submit'}
%a{:href => "/posts/#{@post.id}/edit"} Edit
%a{:href => '/'} Home